.layout-row {
  background-color: rgb(240, 160, 131);
}
.footer-row {
  background-color: rgb(146, 141, 141);
  position: fixed;
  bottom: 0;
  text-align: center;
}
.footer-content {
  display: inline-block;
}
.new-todo {
  background-color: antiquewhite;
  cursor: pointer;
  float: right;
}
.hr {
  color: black;
  background-color: black;
  height: 10px;
  border-color: black;
}
.table {
  display: inline-block;
  width: auto !important;
}
.table-div {
  text-align: center;
}
.table * td {
  padding: 30px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.submit-button {
  display: inline-block;
  margin-left: 40%;
}